@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.maker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}

.cards {
  flex: 1;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: mediaQuery) {
  .cards {
    flex-direction: column;
  }
}
